@font-face {
  font-family:       BitFont;
  src:               url("../fonts/PressStart2P.ttf");
  font-weight:       bold;
}

body {
	width:           100%;
	height:          100%;
	margin:          0;
	padding:         0;
	border:          none;
	background:      #232323;
	display:         flex;
	justify-content: center;
	align-items:     center;
}

#game {
	display:         flex;
	margin-top:      30px;
}

#score {
	display:         flex;
	justify-content: center;
	margin-top:      0px;
	margin-bottom:   10px;
	font-family:     BitFont, Arial;
	color:           #dfdfdf;
}

#game-board {
	margin-right: 7px;
}

#game-aux-board {
	margin-left: 7px;

}

#board {
	background:      #333333;
}

#board-aux {
	background:      #333333;
}

#gameOver {
	color:           #dfdfdf;
	font-size:       5em;
}